.red {
  font-size: 2px;
}

.green {
  font-size: 2px;
}

.blue {
  font-size: 2px;
}

.yellow {
  font-size: 2px;
}

.orange {
  font-size: 2px;
}

.purple {
  font-size: 2px;
}

.pink {
  font-size: 2px;
}

.gray {
  font-size: 2px;
}

.black {
  font-size: 2px;
}

.white {
  font-size: 2px;
}

.light {
  font-size: 2px;
}

.dark {
  font-size: 2px;
}

.light-gray {
}
